body {

font-family: 'Montserrat';

background:url('./../images/background.png');
background-size: 800px 200px;

}



html {
  scroll-behavior: smooth;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: WhiteSmoke;
}

.headerlogo {
      display: flex;
}

.headerlogotext {
    color: DarkOrange;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 20px;
}

.headeraddress {
    
}

.headerphonenumbertext {
    text-align: right;
    color: DarkOrange;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 23px;
}

.headerphonenumber {
    text-align: right;
    color: grey;
    font-size: 15px;
    font-weight: bolder;
}

.menubar {
    background-color: WhiteSmoke;
    align-items: center;
    padding-top: 30px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menuitem {
    padding-top: 10px;
    padding-bottom: 20px;
}


.slick-slide img {
    height: 80vh;
}


.block {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.blocktitle {
    padding-left: 120px;
    color: grey;
    font-size: 20px;
    font-weight: bolder;
    
    padding-bottom: 15px;
    padding-top: 15px;
}

h4 {
    padding: 8px;
    color: DarkOrange
    
}

h6 {
    padding: 8px;
    color: grey
    
}

.cell {
    
    height: flex;
    width: 220px;
    color: black;
    text-align: left;
    font-size: 10px;
    
    border-style: solid;
    border-color: darkorange;
    
      margin-bottom : 30px;
      background-color: WhiteSmoke;
}

.btn {
    margin-bottom : 15px;
}


.priceandorder {
    color: DarkOrange;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  left: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  outline: none; /* Remove outline */
  background-color: WhiteSmoke; /* Set a background color */
  color: darkorange; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  border-style: solid;
  border-color: darkorange;
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    color: white;
  background-color: darkorange; /* Add a dark-grey background on hover */
}


.blockinfo {
    background-color: WhiteSmoke;
    height: flex;
    width: 100%;
}


.blockinfo .texttitle {
    color: white;
    font-size: 25px;
    font-style: bolder;
}

.blockinfo .text {
    color: white;
    font-size: 18px;
    font-style: thin;
}

.contacts {
    line-height: 40px;
    margin : 15px;
}

.flex  {
    margin: auto;
    width: 90%;
    display: flex;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.box {
    margin: auto;
    width: 50%;
    margin-top:10px;
    text-align: center;
    
}


